<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <script type="text/javascript">
        let add = (a, b) => {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    if (typeof (a) != "number" || typeof (b) != "number") {
                        return reject(new Error("Tham so phai co kieu number!"));
                    }
                    resolve(a + b);
                }, 1000)
            })
        }

        let aPromise = Promise.resolve(add(4, 5));
        aPromise.then(result => console.log(result))
        console.log(aPromise);

        // let rPr = Promise.reject('Bi loi');
        // rPr.catch(err => console.log("Loi: " + err))
        // console.log(rPr);
    </script>
</head>

<body>
    <h1>Hello World!</h1>
</body>

</html>